Repository tien-croft/panic-at-the-green: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-typing, gdformat-check, gdlint, check-godot-files

.pre-commit-config.yaml:

# Pre-commit hooks for Panic at the Green
# Install: make setup-hooks
# Or: uv tool install pre-commit && pre-commit install
#
# These hooks run automatically before each commit to ensure code quality

repos:
  # Local hooks for GDScript
  - repo: local
    hooks:
      # Static typing check - ensures all code has type annotations (MUST be first)
      - id: check-typing
        name: Check static typing
        entry: .hooks/check-typing.sh
        language: script
        files: \.gd$
        pass_filenames: false
        stages: [pre-commit]
        description: Checks that all GDScript files have explicit type annotations

      # Format check - ensures code is properly formatted
      - id: gdformat-check
        name: Check GDScript formatting
        entry: .hooks/check-gdformat.sh
        language: script
        files: \.gd$
        pass_filenames: false
        stages: [pre-commit]
        description: Checks if GDScript files are properly formatted using gdformat

      # Lint check - ensures code follows style guidelines
      - id: gdlint
        name: Lint GDScript files
        entry: .hooks/check-gdlint.sh
        language: script
        files: \.gd$
        pass_filenames: false
        stages: [pre-commit]
        description: Lints GDScript files for style issues using gdlint

      # Godot file validation - checks project files
      - id: check-godot-files
        name: Check Godot project files
        entry: .hooks/check-godot-files.sh
        language: script
        files: '\.(tscn|godot)$'
        pass_filenames: false
        stages: [pre-commit]
        description: Validates Godot scene and project files

  # Standard hooks from pre-commit
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      # File checks
      - id: check-added-large-files
        args: ['--maxkb=1000']
        stages: [pre-commit]

      - id: check-merge-conflict
        stages: [pre-commit]

      - id: check-vcs-permalinks
        stages: [pre-commit]

      - id: forbid-new-submodules
        stages: [pre-commit]

      # Trailing whitespace and end of file fixes
      - id: trailing-whitespace
        stages: [pre-commit]

      - id: end-of-file-fixer
        stages: [pre-commit]

      # JSON validation
      - id: check-json
        files: \.json$
        stages: [pre-commit]

      # YAML validation
      - id: check-yaml
        files: \.(yaml|yml)$
        stages: [pre-commit]

# Skip certain files
exclude: |
  (?x)^(
    \.godot/.*|
    .*\.import$|
    build/.*|
    addons/.*|
    assets/.*\.png$|
    assets/.*\.jpg$|
    assets/.*\.wav$|
    assets/.*\.ogg$
  )$

chore: ralph wrongly update all task to be completed
  prd.json
Due: none

Fix CI: Update GUT branch from godot_4 to godot_4_6
  .github/workflows/ci.yml
Due: none

Fix CI: Add debug output for GUT installation and remove --path flag
  .github/workflows/ci.yml
Due: none

Fix CI: Clone GUT to temp dir and extract addons/gut subdirectory
  .github/workflows/ci.yml
Due: none

Fix CI: Add export templates download and GitHub Pages deployment
  .github/workflows/ci.yml
Due: none

Add act configuration for local CI testing with proper Docker image
  .actrc
Due: none

Update act config: Use catthehacker image and add Docker auth fix docs
  .actrc
Due: none

Fix CI: Use GitHub releases for export templates with retry logic
  .github/workflows/ci.yml
Due: none

Fix CI: Use correct GitHub release tag format for export templates
  .github/workflows/ci.yml
Due: none

feat(simulation): Create Simulation Core Singleton (US-002)
  .gdlintrc
  ROADMAP.md
  prd.json
  project.godot
  scripts/simulation_core.gd
  scripts/simulation_core.gd.uid
  tests/unit/test_simulation_core.gd
Due: check-typing, gdformat-check, gdlint, check-godot-files

Fix CI export templates download URL and .gitignore typo
  .github/workflows/ci.yml
  .gitignore
Due: none

Fix export template directory name
  .github/workflows/ci.yml
Due: none

Fix export templates extraction path
  .github/workflows/ci.yml
Due: none

Fix export templates extraction logic (v3)
  .github/workflows/ci.yml
Due: none

fix(ci): enable github pages in configure-pages action
  .github/workflows/ci.yml
Due: none

fix(ci): add contents write permission for pages enablement
  .github/workflows/ci.yml
Due: none

style(ci): format GitHub Actions workflow YAML
  .github/workflows/ci.yml
Due: none

feat: Implement environment stats UI (US-003)
  ROADMAP.md
  prd.json
  scenes/environment_ui.tscn
  scenes/main.tscn
  scripts/environment_ui.gd
  tests/unit/test_environment_ui.gd
Due: check-typing, gdformat-check, gdlint, check-godot-files

feat(US-004): implement equipment base system
  ROADMAP.md
  prd.json
  scripts/equipment_base.gd
  tests/unit/test_equipment_base.gd
Due: check-typing, gdformat-check, gdlint

docs: verify US-003 Environment Stats UI implementation
  ROADMAP.md
Due: none

docs: Update ROADMAP with US-003 Environment UI re-verification session log
  ROADMAP.md
Due: none

chore: update ROADMAP
  ROADMAP.md
  scripts/environment_ui.gd.uid
  scripts/equipment_base.gd.uid
  tests/unit/test_environment_ui.gd.uid
  tests/unit/test_equipment_base.gd.uid
Due: none

feat: Update project vision to character-driven RPG and style environment UI
  ROADMAP.md
  prd.json
  prd.md
  scenes/environment_ui.tscn
  scenes/main.tscn
  scripts/environment_ui.gd
Due: check-typing, gdformat-check, gdlint, check-godot-files

feat(player): US-PLAYER-001 - Create player character with movement and interaction
  Makefile
  ROADMAP.md
  prd.json
  project.godot
  scenes/main.tscn
  scenes/player.tscn
  scripts/player.gd
  tests/unit/test_player.gd
Due: check-typing, gdformat-check, gdlint, check-godot-files

feat: Implement proximity interaction system (US-INTERACT-001)
  ROADMAP.md
  prefabs/heat_pump_station.tscn
  scenes/interaction_ui.tscn
  scenes/main.tscn
  scripts/equipment_base.gd
  scripts/interactable.gd
  scripts/interaction_ui.gd
  scripts/player.gd
  tests/unit/test_equipment_base.gd
  tests/unit/test_equipment_interactable.gd
  tests/unit/test_interactable.gd
  tests/unit/test_interaction_ui.gd
Due: check-typing, gdformat-check, gdlint, check-godot-files

Fix critical bugs in simulation core and tests
  scenes/equipment/fan_station.tscn
  scenes/equipment/heat_pump.tscn
  scenes/equipment/irrigation_panel.tscn
  scenes/equipment/vent_station.tscn
  scenes/equipment/water_tank.tscn
  scenes/main.tscn
  scripts/equipment/fan_station.gd
  scripts/equipment/heat_pump.gd
  scripts/equipment/irrigation_panel.gd
  scripts/equipment/vent_station.gd
  scripts/equipment/water_tank.gd
  scripts/equipment_station.gd
  scripts/simulation_core.gd
  tests/unit/test_equipment_station.gd
  tests/unit/test_fan_station.gd
  tests/unit/test_heat_pump.gd
  tests/unit/test_irrigation_panel.gd
  tests/unit/test_simulation_core.gd
  tests/unit/test_vent_station.gd
  tests/unit/test_water_tank.gd
Due: check-typing, gdformat-check, gdlint, check-godot-files

fix: Resolve circular dependency issues in EquipmentBase and Interactable tests
  scripts/equipment_base.gd
  tests/unit/test_equipment_base.gd
  tests/unit/test_equipment_interactable.gd
Due: check-typing, gdformat-check, gdlint

US-EQUIP-001: Create Physical Equipment Stations
  scenes/equipment/fan_station.tscn
  scenes/equipment/heat_pump.tscn
  scenes/equipment/irrigation_panel.tscn
  scenes/equipment/vent_station.tscn
  scenes/equipment/water_tank.tscn
  scripts/equipment/fan_station.gd.uid
  scripts/equipment/heat_pump.gd.uid
  scripts/equipment/irrigation_panel.gd.uid
  scripts/equipment/vent_station.gd.uid
  scripts/equipment/water_tank.gd.uid
  scripts/equipment_station.gd
  scripts/equipment_station.gd.uid
  scripts/interactable.gd.uid
  scripts/interaction_ui.gd.uid
  scripts/player.gd.uid
  tests/unit/test_equipment_interactable.gd.uid
  tests/unit/test_equipment_station.gd.uid
  tests/unit/test_fan_station.gd.uid
  tests/unit/test_heat_pump.gd.uid
  tests/unit/test_interactable.gd.uid
  tests/unit/test_interaction_ui.gd.uid
  tests/unit/test_irrigation_panel.gd.uid
  tests/unit/test_player.gd.uid
  tests/unit/test_vent_station.gd.uid
  tests/unit/test_water_tank.gd.uid
Due: check-typing, gdformat-check, gdlint, check-godot-files

Fix lint errors and test failures
  .gdlintrc
  scenes/world.tscn
  scripts/equipment/fan_station.gd
  scripts/equipment/heat_pump.gd
  scripts/equipment/irrigation_panel.gd
  scripts/equipment/vent_station.gd
  scripts/equipment_station.gd
  scripts/simulation_core.gd
  scripts/world.gd
  scripts/world.gd.uid
  tests/unit/test_equipment_station.gd
Due: check-typing, gdformat-check, gdlint, check-godot-files

feat: Mark US-EQUIP-001 as complete - Physical Equipment Stations
  ROADMAP.md
  prd.json
Due: none

fix(ci): fix GUT clone failure and player script parse error
  .github/workflows/ci.yml
  .gitignore
  AGENTS.md
  README.md
  scripts/player.gd
  tests/unit/test_player.gd
Due: check-typing, gdformat-check, gdlint

style: fix definition order and formatting in player.gd
  scripts/player.gd
Due: check-typing, gdformat-check, gdlint

style: fix definition order in tomato_plant.gd and worker.gd
  scripts/tomato_plant.gd
  scripts/worker.gd
Due: check-typing, gdformat-check, gdlint

fix: update project debug settings and remove missing font reference
  project.godot
Due: check-godot-files
